@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titan+One&display=swap');

body {
  margin: 0;
  font-family: 'Titan One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFE5D5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  resize: none;
}

.login-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-background:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/Users/kaitiejones/Development/code/phase-5/phase-5-project/images/jeremy-bezanger-QJ7gHF6V4no-unsplash.jpg');
  background-size: auto 50%;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: 0vh;
  z-index: -1;
  pointer-events: none;
  background-size: cover;
}

/* .login-background:before {
  animation: scrollBG 67s linear 0s infinite;
}

@keyframes scrollBG {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -100vh, 0);
  }
} */

.recipe-cards-container {
  display: flex;
  flex-direction: column;
}

.recipe-card-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100%;
  margin-bottom: 45px;
}

.recipe-card-container-2 {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100%;
  margin-bottom: 45px;
  padding: 45px;
}

.recipe-img {
  width: 60%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.like-button {
  background: none;
  border: none;
}

.like-button:hover {
  cursor: pointer;
}

.plus-sign:hover {
  cursor: pointer;
}

.plus-sign {
  background: none;
  border: none;
  font-size: 35px;
  padding: 15px;
}

.user-recipe-card-container {
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

img.user-recipe-card-container:hover {
  cursor: pointer;
}

.user-recipe-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.recipe-page-button {
  margin: 7px;
  border: none;
  font-family: "Titan One";
  background-color: #8CD3FF;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 35%;
}

.recipe-page-button:hover {
  background-color: #FFB88C;
  box-shadow: 2px 2px 1px 1px #8CD3FF;
  cursor: pointer;
}

.error-message {
  width: 20%;
  font-family: 'Gill Sans';
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  margin-top: 40px;
  color: rgb(174, 18, 18);
}

/* login page */
.login-container {
  display: flex;
  border: solid rgb(4, 4, 4, 0.5);
  border-radius: 25px;
  background: rgb(219, 219, 219, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.login-container h1 {
  font-size: 58px;
}

.login-form {
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.login-form-input {
  border: solid gray;
  font-family: 'Titan One';
  border-radius: 6px;
}

.login-page-button-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.login-page-button {
  margin: 7px;
  border: none;
  font-family: "Titan One";
  background-color: #8CD3FF;
  height: 27px;
  border-radius: 6px;
}

.login-page-button:hover {
  background-color: #FFB88C;
  box-shadow: 2px 2px 1px 1px #8CD3FF;
  cursor: pointer;
}

/* nav bar */
.header-container {
  background-color: #FFB88C;
}

.title {
  margin: 0;
  text-align: left;
  font-size: 56px;
  color: black;
}

.nav-links {
  text-align: right;
}

.nav {
  padding: 25px 30px 20px;
  text-decoration: none;
  margin: 0 5px;
  color: black;
  font-size: 18px;
  display: inline-block;
}

.nav-clicked {
  padding: 25px 30px 20px;
  text-decoration: none;
  margin: 0 5px;
  color: black;
  font-size: 18px;
  display: inline-block;
  background-color: #FFB88C;
  border-radius: 20px 20px 0 0;
}

.nav-clicked:hover {
  background-color: #FFE5D5;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.nav:hover {
  background-color: #FFE5D5;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

/* .ultimate-header-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
} */

.form-container {
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
  background: rgb(213, 239, 255, 0.6);
}

.form-container-2 {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
  background: rgb(213, 239, 255, 0.6);
}

.form-inputs {
  margin: 10px;
  background: rgb(255, 254, 243);
  border-radius: 4px;
  border: solid 1px black;
  font-family: 'Poppins', sans-serif;
}

.form-label {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.form-dropdown {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #FFB88C;
  border: none;
  border-radius: 10px;
}

.form-header {
  font-size: 30px;
  color: rgb(255, 254, 243);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.form-button {
  margin: 7px;
  border: none;
  min-width: 15%;
  font-family: "Titan One";
  background-color: rgb(140, 211, 255, 0.5);
  height: 27px;
  border-radius: 6px;
}

.form-button:hover {
  background-color: rgb(255, 183, 138);
  box-shadow: 2px 2px 1px 1px rgb(140, 211, 255, 0.5);
  cursor: pointer;
}

.welcome-container {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.welcome-header {
  font-size: 45px;
  color: black;
  font-weight: 50;
}

.welcome-p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: left;
}

.welcome-p-or {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.recipe-header {
  letter-spacing: 5px;
  font-weight: 50;
}

.recipe-details {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: left;
}

.user-recipe-img {
  width: 50%;
  border-radius: 3px;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.recipe-detail-container {
  background-color: rgb(255, 183, 138, 0.4);
  padding: 15px;
  margin: 30px;
  border-radius: 15px;
}

.recipe-detail-header {
  text-align: left;
  font-size: 20px;
  color: rgb(255, 254, 243);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}