@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  margin: 0;
  font-family: 'Titan One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fcf5de;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-x: hidden;
}

.login-background:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background-image: url('/Users/kaitiejones/Development/code/phase-5/phase-5-project/images/jeremy-bezanger-QJ7gHF6V4no-unsplash.jpg');
  background-size: auto 50%;
  background-repeat: repeat-y;
  background-position-y: center;
  background-position-y: 0vh;
  /* opacity: .5; */
  z-index: -1;
  pointer-events: none;
}

.login-background:before {
  animation: scrollBG 67s linear 0s infinite;
}

@keyframes scrollBG {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -100vh, 0);
  }
}

.recipe-cards-container {
  display: flex;
  flex-direction: column;
}

.recipe-card-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100%;
  margin-bottom: 45px;
}

.recipe-img {
  width: 60%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.like-button {
  background: none;
  border: none;
}

.like-button:hover {
  cursor: pointer;
}

.plus-sign:hover {
  cursor: pointer;
}

.user-recipe-card-container {
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

img.user-recipe-card-container:hover {
  cursor: pointer;
}

.user-recipe-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.recipe-page-button {
  margin: 7px;
  border: none;
  font-family: "Titan One";
  background-color: #8CD3FF;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 35%;
}

.recipe-page-button:hover {
  background-color: #FFB88C;
  box-shadow: 2px 2px 1px 1px #8CD3FF;
  cursor: pointer;
}

.error-message {
  /* border: solid rgb(174, 18, 18, 0.4);
  background: rgb(136, 135, 135, 0.2);
  border-radius: 25px; */
  width: 20%;
  font-family: 'Gill Sans';
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  margin-top: 40px;
  color: rgb(174, 18, 18);
}

/* login page */
.login-container {
  display: flex;
  border: solid rgb(4, 4, 4, 0.5);
  border-radius: 25px;
  background: rgb(219, 219, 219, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
}

.login-container h1 {
  font-size: 58px;
}

.login-form {
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.login-form-input {
  border: solid gray;
  font-family: 'Titan One';
  border-radius: 6px;
}

.login-page-button-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.login-page-button {
  margin: 7px;
  border: none;
  font-family: "Titan One";
  background-color: #8CD3FF;
  height: 27px;
  border-radius: 6px;
}

.login-page-button:hover {
  background-color: #FFB88C;
  box-shadow: 2px 2px 1px 1px #8CD3FF;
  cursor: pointer;
}

/* nav bar */
.header-container {
  background-color: #8CD3FF;
}

.title {
  margin: 0;
  text-align: left;
  font-size: 56px;
  color: white;
  -webkit-text-stroke: .5px black;
}

.nav-links {
  text-align: right;
}

.nav {
  padding: 25px 30px 20px;
  text-decoration: none;
  margin: 0 5px;
  color: black;
  font-size: 18px;
  display: inline-block;
}

.nav-clicked {
  padding: 25px 30px 20px;
  text-decoration: none;
  margin: 0 5px;
  color: black;
  font-size: 18px;
  display: inline-block;
  background-color: #FFB88C;
  border-radius: 20px 20px 0 0;
}

.nav-clicked:hover {
  background-color: #fcf5de;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.nav:hover {
  background-color: #fcf5de;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

/* .ultimate-header-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
} */